# ==================== Maven ====================
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# ==================== Spring Boot ====================
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
replay_pid*

# ==================== IDE ====================
.idea/
*.iml
*.iws
*.ipr
.classpath
.project
.settings/
.factorypath
.vscode/
bin/

# ==================== Logs ====================
*.log
logs/

# ==================== Secrets ====================
application-local.yml
application-local.properties
.env
