fastapi
uvicorn
python-multipart
python-dotenv
requests
qdrant-client
qiniu
pydantic
pydantic-settings
dashscope
fastembed
aiofiles
pillow
langgraph
langchain-core
aio-pika
tavily-python
python-pptx
playwright
bilibili-api-python
redis
pika
